body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: bisque;
    color: rgb(0, 0, 0);
    padding: 20px 0;
    text-align: center;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    padding-left: 50px;
    display: flex;
    height: 60px;
    width: 70px;
}

nav{
    display: flex;
    gap: 20px;
    padding: 20px;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.7;
}

nav a:hover{
    background-color:lightcoral;
}

nav a.active{
    background-color:rgba(220, 20, 60, 0.738);
    color: black;
}

.footer-section {
    max-width: 1000px;
    width: 100%;
    background-color:rgb(79, 79, 79);
    color: black;
    text-align: center;
}

.footer-section a {
    color: crimson;
    text-decoration: none;
}

.footer-section a:hover{
    text-decoration: underline;
}

.content{
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:antiquewhite;
}

.content h1{
    font-size: 3.5rem;
    color: black;
}

.content h2{
    font-size: 2rem;
    color:#333;
}

.content p{
    padding: 10px;
    margin: 10px;
    font-size: 1.25rem;
    text-align: center;
}

.gato{
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    object-fit: cover;
    height:400;
    width: 400;

}

.pie-de-foto{
    font-size: 1px;
    text-align: center;
    color: grey;

}

.index-buttons{
    background-color: darkblue;
    color: white;
    font-size: 1.5rem;
    padding: 12px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    gap: 50px;
    margin-bottom: 10px;
    margin-top: 5px;
    align-items: left;
    gap: 15px;
    display:flex;
    text-align: center;
    flex-direction: row;
}

.index-buttons:hover{
    background-color:rgb(0, 0, 100);
    transition: all;
    transition-duration: 0.5s;
}
 
.menu {
    background-color: #1a1a2e;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.menu-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
    
}

.menu-item {
    display: flex;
    text-align: center;
    flex-direction:column;
    align-items:center;
    
}

.menu-item p {
    margin: 10px 0 0;
    font-size: 14px ;
}

.menu-icon {
    width: 40px;
    height: 40px;
}

.about-content{
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:antiquewhite;
}

.about-section {
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 8px;
    overflow: auto;
}

.about-section h1{
    color: #333;
    margin: 20px;
}


.Parte-1 {
    width: 100%;
    margin-bottom: 40px;
    clear: both; 
}


.Parte-1::after {
    content: "";
    display: block;
    clear: both;
}


.Parte-1 .imagen-1 {
    float: left;
    width: 30%;
    margin: 10px;
    padding: 10px;
    height: auto;
    box-sizing: border-box;
}

.Parte-1 .imagen-1 img {
    width: 100%;
    height: auto;
    border: 2px solid #333;
    border-radius: 8px;
}


.Parte-1 .text-content {
    float: right;
    width: 65%;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}


.Parte-2 {
    width: 100%;
    margin-bottom: 40px;
    clear: both;
}


.Parte-2::after {
    content: "";
    display: block;
    clear: both;
}


.Parte-2 .imagen-2 {
    float: right;
    width: 30%;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.Parte-2 .imagen-2 img {
    width: 100%;
    height: auto;
    border: 2px solid #333;
    border-radius: 8px;
}


.Parte-2 .text-content {
    float: left;
    width: 65%;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}


.about-section ul {
    list-style:disc;
    padding-left: 15px;
}

.about-section ul li{
    margin-bottom: 5px;
}

.contact-content{
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:antiquewhite;
}

.contact-section {
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 8px;
}

.contact-section h1 {
    color: #000000;
    margin: 20px;
    font-size: 5rem;
}

.contact-form{
    background-color: rgb(255, 160, 126);
    padding: 20px;
    border-radius: 10px;
}

.contact-form input[type=text], .contact-form select, .contact-form textarea{
    width: 100%;
    padding: 10px;
    border-color: #333;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
    margin-top: 6px;
    margin-bottom: 10px;
}

.contact-form input[type=submit]{
    background-color: darkblue;
    color: white;
    font-size: 1.5rem;
    padding: 12px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact-form input[type=submit]:hover {
    background-color: rgb(0, 0, 100);
    transition: all;
    transition-duration: 0.3s;
}

.degree-content{
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:antiquewhite;

}

.degree-section {
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 8px;
}

.degree-section h1 {
    color: #000000;
    margin: 20px;
    font-size: 5rem;
}

.degree-table{
    padding: 20px;
    background-color: rgb(255, 160, 126);
    border-radius: 10px;
}

.degree-table th, .degree-table td{
    border: 2px solid;
    gap: 10px;
    padding: 5px 10px;
}
.FCE-button{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    font-size: 1.5rem;
    background-color: darkblue;
    border-radius: 10px;
    color: white;
    font-style: normal;
    cursor: pointer;
}

.FCE-button:hover{
    background-color: rgb(0, 0, 100);
    transition: all;
    transition-duration: 0.3s;
}

.FCE-content{
    height: 1700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    
}
.FCE-section{
    padding: 20px;
    background-color: aquamarine;
}
.FCE-section h1 {
    color: #000000;
    margin: 20px;
    font-size: 5rem;
}

.FCE-section h2 {
    color: #000000;
    margin: 10px;
    font-size:  2rem;
}

.FCE-table{
    padding: 40px;
    border-radius: 10px;
    background-color:rgb(105, 158, 255)

}

.FCE-table th, .FCE-table td{
    border: 2px solid;
    gap: 10px;
    padding: 5px 10px; 
}

.FCE-title{
    width: 100%;
    font-size: 1.5rem;
}

.Block-list{
    text-align: left;
    font-size: 1.1rem;
}
.Block-list li{
    margin-bottom: 5px;
}

.volver{
    display: block;
    padding: 10px 20px;
    background-color: rgb(46, 33, 127);
    color: white;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.volver:hover{
    background-color: rgb(37, 27, 86);
    transition: all;
    transition-duration: 0.3s;
}

.net-content{
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:antiquewhite;
}

.net-section {
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 8px;
    text-align: center;
}

.net-section h1 {
    color: #000000;
    margin: 20px;
    font-size: 5rem;
}
.net-section h2 {
    color: #000000;
    font-size: 1.75rem;
    text-align: center;
}

.net-table{
    padding: 40px;
    border-radius: 10px;
}

.net-table th{
    border-bottom: 2px solid;
}
.net-table td{
    gap: 10px;
    padding: 5px 10px; 
}

.net-table img{
    height: 100px;
    width: 100px;
}

.topic-content{
    height: 1850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:antiquewhite;
}

.topic-section {
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 8px;
    text-align: center;
}

.topic-section h1{
    font-size: 5rem;
    color: #000000;
    align-items: center;
}

.Topic-text {
    width: 100%;
    margin-bottom: 100px;
    clear: both;
    overflow: hidden; 
}


.Topic-text::after {
    content: "";
    display: block;
    clear: both;
}


.Topic-text .topic-images {
    float: left;
    width: 40%;
    margin: 10px;
    padding: 10px;
    height: auto;
    box-sizing: border-box;
}

.Topic-text .topic-images img {
    width: 100%;
    height: auto;
    border: 2px solid #333;
    border-radius: 8px;
}


.Topic-text .text-contents {
    float: right;
    width: 50%;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}