body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: bisque;
    color: rgb(0, 0, 0);
    padding: 20px 0;
    text-align: center;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    padding-left: 50px;
    display: flex;
    height: 60px;
    width: 70px;
}

nav{
    display: flex;
    gap: 20px;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.7;
}

nav a:hover{
    background-color:lightcoral;
}

nav a.active{
    background-color:rgba(220, 20, 60, 0.738);
    color: black;
}

.footer-section {
    max-width: 1000px;
    width: 100%;
    background-color:rgb(79, 79, 79);
    color: black;
    text-align: center;
}

.footer-section a {
    color: crimson;
    text-decoration: none;
}

.footer-section a:hover{
    text-decoration: underline;
}

.content{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:antiquewhite;
}

.menu {
    background-color: #1a1a2e;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.menu-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
    
}

.menu-item {
    display: flex;
    text-align: center;
    flex-direction:column;
    align-items:center;
    
}

.menu-item p {
    margin: 10px 0 0;
    font-size: 14px ;
}

.menu-icon {
    width: 40px;
    height: 40px;
}

.about-content{
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:antiquewhite;
}

.about-section {
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 8px;
}

.about-section h1, .about-section h2 {
    color: #333;
    margin: 20px;
    
    
}

.about-section ul {
    list-style:disc;
    padding-left: 15px;
}

.about-section ul li{
    margin-bottom: 5px;
}

.contact-content{
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:antiquewhite;
}

.contact-section {
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 8px;
}

.contact-section h1 {
    color: #000000;
    margin: 20px;
    font-size: 5rem;
}

.contact-form{
    background-color: rgb(255, 160, 126);
    padding: 20px;
    border-radius: 10px;
}

.contact-form input[type=text], .contact-form select, .contact-form textarea{
    width: 100%;
    padding: 10px;
    border-color: #333;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
    margin-top: 6px;
    margin-bottom: 10px;
}

.contact-form input[type=submit]{
    background-color: darkblue;
    color: white;
    font-size: 1.5rem;
    padding: 12px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact-form input[type=submit]:hover {
    background-color: rgb(0, 0, 100);
    transition: all;
    transition-duration: 0.3s;
}